body{
    font-family: 'Sen',  sans-serif;
}
.nav-item{
    margin-left: 35px;
}

.container{
    margin-bottom: 40px;
}

.container nav{
    margin-top: 15px;
}

.container img{
    margin-top: 15px;
}

.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer ; 
}



